body {
  background-color: #fcd04b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  text-align: center;
}
.btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background: #fcad26;
  font-size: 16px;
  font-weight: 120;
  text-transform: uppercase;
  padding: 25px 80px;
  color: white;
  margin: 0 auto;
  box-shadow: 0 6px #efa424;
}

.btn:hover {
  box-shadow: 0 4px #efa424;
  top: 2px;
}

.btn:active {
  box-shadow: none;
  top: 6px;
}
